html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "ohio_kraftregular";
  src: url("ohiokraft-webfont.woff2") format("woff2"), url("ohiokraft-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "ohio_kraftregular";
  overflow-x: hidden;
}

/*Navbar*/
nav {
  display: flex;
  background-color: BlueViolet;
  justify-content: space-around;
  /*padding: 20px 0;*/
  color: DeepSkyBlue;
  height: 50px;
  align-items: center;
  filter: brightness(1.2) drop-shadow(1px 1px 1px black);
}

.profil img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 3px solid #00e5ff;
  background-color: #a534ff;
}

nav .logo {
  font-family: "Pacifico", cursive;
  letter-spacing: 3px;
  transform: scale(1.3);
  text-shadow: 1px 4px 6px DeepSkyBlue, 0px 0px 0px DeepSkyBlue;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  color: DeepSkyBlue;
  text-decoration: none;
  font-size: 25px;
}

nav ul li a:hover {
  animation: besarinLink 2s ease infinite alternate forwards;
}

@keyframes besarinLink {
  from {
    font-size: 30px;
  }
  to {
    font-size: 35px;
  }
}

nav ul li a:hover {
  color: WhiteSmoke;
}

/*Hamburger Menu*/
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0;
  left: -5px;
  top: -3px;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: DeepSkyBlue;
  border-radius: 3px;
  transition: 0.5s;
}

/*Hamburger Menu Animation*/
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
  background-color: white;
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
  background-color: white;
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}

/*Responsive Breakpoint*/

/*Ukuran Tablet*/
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/*Ukuran Mobile*/
@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }

  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    flex-direction: column;
    background: BlueViolet;
    align-items: center;
    justify-content: space-evenly;
    z-index: -1;
    width: 80%;
    transform: translate(100%);
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    opacity: 0;
  }
  nav ul.slide {
    opacity: 1;
    transform: translateX(0);
  }
}
